.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    max-width: 1000px;
    height: auto;
    margin-left: 605px;
    margin-top: 120px;
}

.menu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.menu-content h1 {
    font-size: 70px;
    margin-bottom: 20px;
}

.menu-content p {
    font-size: 25px;
}

.post-item {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}