html, body{
    display: flex;
    flex-direction: column;
    background-color: var(--light-grey);
    font-family: "Inter", sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/* --- top navigation menu --- */

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 35px;
    background-color: var(--purple-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.nav ul a{
    display: block;
    color: white;
    margin: 0 16px;
    text-transform: uppercase;
    font-size: 16px;
}

img {
    width: 10%;
    height: auto;
}

.nav img[alt]{
    color: white;
}

.btn{
    background-color: var(--purple-color);
    color: white;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition-duration: 0.2s;
    border: 2px solid white;
    text-decoration: none;  
}

.btn:hover{
    background-color: rgb(252, 252, 252);
    color: var(--purple-color);
    padding: 14px 22px;   
}

.main-content {
    flex: 1;
}

/* --- FOOTER --- */

.footer {
    background-color: white;
    text-align: center;
    padding: 25px;
    width: 100%;
    margin-top: auto;
    position: relative;
}


/* --- INPUT REQUIRED SPAN --- */

.span-required{
    display: none;
    font-size: 12px;
    color:#e63636;
    margin: 3px 0 0 1px;
}

/* --- BACK BUTTON --- */

.back-btn {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 40px;
    margin-top: 25px;
}

.back-btn a{
    display: inline-block;
    background-color: var(--purple-color);
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    text-decoration: none;
    transition-duration: 0.2s;
    cursor: pointer;
}

.back-btn a:hover{
    background-color: var(--dark-purple);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3)
}