.options {
    display: flex;
    padding: 0px;
    width: 100%;
}

.left-menu {
    background-color: white;
    padding: 30px;
    position: fixed;
    width: 270px;
    height: 100%;
    padding-top: 100px;
}

.left-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.left-menu ul li {
    padding: 5px;
    text-align: left;
    padding: 12px 0;
}

.left-menu ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 6px 8px;
}

.left-menu ul li a:hover {
    color: white;
    background-color: var(--purple-color);
    border-radius: 10px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.left-menu .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    padding: 10px;
    margin-top: 470px;
}

.profile {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    max-width: 1000px;
    height: 70%;
    margin-left: 605px;
    margin-top: 150px;
}

.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    font-size: 25px;
}

.profile-header img {
    border-radius: 50%;
    margin-bottom: 30px;
    width: auto;
    max-width: 300px;
    height: auto;
    max-height: 300px;
}

.label {
    font-weight: bold;
}

.profile .profile-info p {
    font-size: 18px;
    width: auto;
    max-width: 500px;
    line-height: 1.5em;
    padding: 5px 0px;
}

.profile-buttons {
    margin-top: 30px;
}

button {
    color: white;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition-duration: 0.2s;
    border: 2px solid white;
    text-decoration: none;  
    font-size: 18px;
}

.profile-button-1{
    background-color: #E6AC00;
}

.profile-button-2{
    background-color: #FF4D4D;
}

.profile-button-1:hover{
    background-color: #d18a06;
    padding: 14px 22px;
}

.profile-button-2:hover{
    background-color: #cc1111;
    padding: 14px 22px;
}