.profile {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    max-width: 1000px;
    min-height: 400px;
    margin-left: 605px;
    margin-top: 150px;
    box-sizing: border-box;
}

.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    font-size: 25px;
}

.profile-header img {
    border-radius: 50%;
    margin-bottom: 30px;
    width: auto;
    max-width: 300px;
    height: auto;
    max-height: 300px;
}

.label {
    font-weight: bold;
}

.profile .profile-info p {
    font-size: 18px;
    width: auto;
    max-width: 500px;
    line-height: 1.5em;
    padding: 5px 0px;
}

.profile-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.functions-buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

button, .profile-logout, .profile-edit, .profile-delete {
    color: white;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: transform 0.2s ease, background-color 0.2s ease;
    border: 2px solid white;
    text-decoration: none;  
    font-size: 18px;
    width: auto;
    text-align: center;
}

.profile-edit {
    background-color: #dbc500;
}

.profile-edit:hover {
    background-color: #c7b300;
    transform: scale(1.05);
}

.profile-delete {
    background-color: #FF5733;
}

.profile-delete:hover {
    background-color: #cc4a2a;
    transform: scale(1.05);
}

.profile-logout {
    background-color: #a7a7a7;
}

.profile-logout:hover {
    background-color: #8a8a8a;
    transform: scale(1.05);
}